<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles2.css">
    <title>ProjectCRUD</title>
</head>
<body>
    <p>Trabajando en el proyecto de MisionTIC2022</p>
    <h1>Titulo h1</h1>
    <h2>Titulo h2</h2>
    <h3>Titulo h3</h3>
    <h3 class="titulo-adicional">Titulo Adicional h3</h3>

    <ul>
        <li>Pokemon</li>
        <li>Hacer ejercicio</li>
    </ul>

    <form>
        <input type="text">
        <input type="text">
        <input type="text">

    </form>

    <div class="contenedor-principal">
        <div class="caja1">Caja 1</div>
        <div class="caja2">Caja 2</div>
        <div class="caja3">Caja 3</div>
    </div>

</body>
</html>