<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Sistemagig</title>
</head>
<body>
    <div class="container text-center" >
        <h1 class="text-center">Bienvenido al Sistema de Gestión de Ingresos y Gastos</h1>
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-primary text-center" th:href="@{/oauth2/authorization/auth0}">Iniciar Seción</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-primary text-center" th:href="@{/panel}">Ingresar a la aplicación</a>
        </div>
    </div>
   
    <footer>
        <p class="h6 text-center">Creado por:
            <ul class="list-group text-center">
                <li >Sarha Sandoval</li>
                <li>Christian Hernández</li>
                <li> Kadir Obando</li>
                <li>Luz López</li>
                <li>Rubén Sánchez</li>
            </ul>
        </p>
        <p class="text-center"><strong>Equipo: SCKLRDEVELOPERS</strong></p>
        <p class="text-center"><strong>MisiónTIC 2022</strong></p>
    </footer>
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>  
</body>
</html>